.gry{
    width: 450px;
    margin: 0 0 0 430px;
    padding: 0;
}
.hddn{
    text-align: center;
}
.ii2{
    height: 50px;
    margin-left: 20px;
    border-radius: 100%;
    display: flex;
}
.pp2{
    margin-top: 25px;
    margin-left: 5px;
}
.cdd{
    display: flex;
}
.ptrr{
    padding: 500px;
}
.i12{
    width: 99%;
    height: 300px;
    margin-top: 25px;
    margin-left: 2px;
}
.cdn{
    width: 99%;
}
.cdni{
    height: 450px;
    margin-left: 5px;
}
.crdt{
    width: 99%;
    display: flex;
}
.hh5{
    font-weight:600;
    margin-top: 25px;
    margin-left: 5px;
}
.ii21{
    height: 80px;
    margin-left: 75px;
}
.bse{
    display: flex;
    justify-content: space-between;
    width: 1250px;
    margin-left: 85px;
}